.vscode/**
.vscode-test/**
src/**
out/cli/**
dist/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/adabuild.config.json
**/*.map
**/*.ts
**/*.vsix
node_modules/**
