.vscode/**
.vscode-test/**
src/**
out/cli/**
out/vscode/*.js.map
bin/**
obj/**
dist/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/adabuild.config.json
**/adabuild.csproj
**/adabuild.sln
**/*.map
**/*.ts
**/*.vsix
node_modules/**
